.fondo{
	/*background-image: url('image/escudo.jpeg');*/
	background-color: rgba(255, 255, 255, 0.6);
}
.escudo{
	background-image: url('../image/escudo.jpeg');
	background-size: 300px 300px;
	background-repeat: no-repeat;
	background-position: center;
}
.principal{
	background-image: url('../image/escudo.jpeg');
	background-size: 300px 300px;
	background-repeat: no-repeat;
	background-position: 500px 200px;
}